/* body {
  background-color: #282c34;;
} */

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  /* width: clamp(50%, 700px, 90%); */
  /* height: min(50%, 300px); */
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#export-modal-menu {
  height: 1200px;
  width: 900px;
  background: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/*
#dashboard {
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 35px;
}

#gitProfileName {
  background-color: rgb(163, 163, 163);
  color: #282c34;
  position: absolute;
  right: 25px;
  text-align: right;
  width: 90px;
  height: 40px;
  text-align: center;
  font-size: 22px;

}

#hexagon {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: -400px;
  top: -115px;
}
*/
