.App {
  text-align: center;
  background-color: #303030;
}

#Abstract {
  color: white;
  position: relative;
  bottom: -30px;
}

#abstractLogo {
  opacity: 100%;
  width: 50px;
  height: 50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

#welcomeBorderBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  background-color: #c8c6c6;
  width: 40%;
  padding: 70px;;  
}

#frontPageLogInButton {
  /* background-color: white;
  height: 10px; */
  border-radius: 5px;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#frontPageSignUpButton {
  /* background-color: white; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
}

#frontPageSignUpButton:hover {
  background-color: rgb(216, 213, 213); 
  color: white;
}

#logIn {
  border-radius: 15px;
  width: 270px;
  height: 70px;
  font-size: 30px;
  word-wrap: break-word; 
}

#githubLogo {
  /* display: flex; */
  flex-direction: row-reverse;
  align-items: center;
  align-self: center;
  align-content: center;
  width: 70px;
  height: 70px;
  background: none;
  background-color: none;
}
